# Análisis Exploratorio de Datos - Matrimonios en Guatemala
## CC3074 - Minería de Datos
## Universidad del Valle de Guatemala
### Semestre I - 2026

---

In [13]:
# Importar librerías necesarias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score, silhouette_samples
import warnings
warnings.filterwarnings('ignore')

# Configuración de visualización
plt.style.use('seaborn-v0_8-darkgrid')
sns.set_palette("husl")
plt.rcParams['figure.figsize'] = (12, 6)
plt.rcParams['font.size'] = 10

# Para mostrar todas las columnas
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

In [25]:
# Cargar los datos
# NOTA: Ajusta la ruta según donde tengas tu archivo
df = pd.read_csv('mat_unido_columnas_comunes.csv')

print("✓ Datos cargados exitosamente")
print(f"Forma del dataset: {df.shape}")

✓ Datos cargados exitosamente
Forma del dataset: (752264, 15)

### 1.2 Dimensiones del Dataset

In [15]:
# Información general del dataset
print(f"\nNúmero de observaciones (registros): {df.shape[0]:,}")
print(f"Número de variables (columnas): {df.shape[1]}")
print(f"Tamaño en memoria: {df.memory_usage(deep=True).sum() / 1024**2:.2f} MB")
print(f"\nPeriodo de análisis: {int(df['AÑOREG'].min())} - {int(df['AÑOREG'].max())}")
print(f"Años de datos: {int(df['AÑOREG'].max() - df['AÑOREG'].min() + 1)} años")

Número de observaciones (registros): 752,264
Número de variables (columnas): 15
Tamaño en memoria: 108.29 MB

Periodo de análisis: 2011 - 2021
Años de datos: 11 años

In [16]:
# Crear diccionario detallado de variables
diccionario_variables = {
    'Variable': [
        'AÑOREG', 'MESREG', 'MESOCU', 'DIAOCU',  # Temporales
        'DEPREG', 'MUPREG', 'DEPOCU', 'MUPOCU',  # Geográficas
        'CLAUNI',  # Matrimonio
        'EDADHOM', 'ESCHOM', 'NACHOM',  # Hombre
        'EDADMUJ', 'ESCMUJ', 'NACMUJ'   # Mujer
    ],
    'Nombre_Completo': [
        'Año de Registro', 'Mes de Registro', 'Mes de Ocurrencia', 'Día de Ocurrencia',
        'Departamento de Registro', 'Municipio de Registro', 'Departamento de Ocurrencia', 'Municipio de Ocurrencia',
        'Clase de Unión',
        'Edad del Hombre', 'Escolaridad del Hombre', 'Nacionalidad del Hombre',
        'Edad de la Mujer', 'Escolaridad de la Mujer', 'Nacionalidad de la Mujer'
    ],
    'Tipo': [
        'Numérica Discreta', 'Categórica Ordinal', 'Categórica Ordinal', 'Numérica Discreta',
        'Categórica Nominal', 'Categórica Nominal', 'Categórica Nominal', 'Categórica Nominal',
        'Categórica Nominal',
        'Numérica Continua', 'Categórica Ordinal', 'Categórica Nominal',
        'Numérica Continua', 'Categórica Ordinal', 'Categórica Nominal'
    ],
    'Categoría': [
        'Temporal', 'Temporal', 'Temporal', 'Temporal',
        'Geográfica', 'Geográfica', 'Geográfica', 'Geográfica',
        'Matrimonio',
        'Hombre', 'Hombre', 'Hombre',
        'Mujer', 'Mujer', 'Mujer'
    ],
    'Descripción': [
        'Año en que se inscribió el matrimonio en el registro civil',
        'Mes en que se inscribió el matrimonio (1-12)',
        'Mes en que se celebró la ceremonia matrimonial (1-12)',
        'Día del mes en que se celebró el matrimonio (1-31)',
        'Código del departamento donde se registró (1-22)',
        'Código del municipio donde se registró (101-2217)',
        'Código del departamento donde se celebró (1-22)',
        'Código del municipio donde se celebró (101-2217)',
        'Tipo de matrimonio: 1=Civil, 2=Religioso, 3=Mixto, 9=No especificado',
        'Edad en años del contrayente masculino',
        'Nivel educativo: 1=Ninguno, 2=Primaria, 3=Básicos, 4=Diversificado, 5=Universidad, 6=Posgrado, 9=No especificado',
        'Código ISO del país de nacionalidad (320=Guatemala)',
        'Edad en años de la contrayente femenina',
        'Nivel educativo: 1=Ninguno, 2=Primaria, 3=Básicos, 4=Diversificado, 5=Universidad, 6=Posgrado, 9=No especificado',
        'Código ISO del país de nacionalidad (320=Guatemala)'
    ]
}

df_diccionario = pd.DataFrame(diccionario_variables)
display(df_diccionario)

,Variable,Nombre_Completo,Tipo,Categoría,Descripción
0,AÑOREG,Año de Registro,Numérica Discreta,Temporal,Año en que se inscribió el matrimonio en el re...
1,MESREG,Mes de Registro,Categórica Ordinal,Temporal,Mes en que se inscribió el matrimonio (1-12)
2,MESOCU,Mes de Ocurrencia,Categórica Ordinal,Temporal,Mes en que se celebró la ceremonia matrimonial...
3,DIAOCU,Día de Ocurrencia,Numérica Discreta,Temporal,Día del mes en que se celebró el matrimonio (1...
4,DEPREG,Departamento de Registro,Categórica Nominal,Geográfica,Código del departamento donde se registró (1-22)
5,MUPREG,Municipio de Registro,Categórica Nominal,Geográfica,Código del municipio donde se registró (101-2217)
6,DEPOCU,Departamento de Ocurrencia,Categórica Nominal,Geográfica,Código del departamento donde se celebró (1-22)
7,MUPOCU,Municipio de Ocurrencia,Categórica Nominal,Geográfica,Código del municipio donde se celebró (101-2217)
8,CLAUNI,Clase de Unión,Categórica Nominal,Matrimonio,"Tipo de matrimonio: 1=Civil, 2=Religioso, 3=Mi..."
9,EDADHOM,Edad del Hombre,Numérica Continua,Hombre,Edad en años del contrayente masculino
10,ESCHOM,Escolaridad del Hombre,Categórica Ordinal,Hombre,"Nivel educativo: 1=Ninguno, 2=Primaria, 3=Bási..."
11,NACHOM,Nacionalidad del Hombre,Categórica Nominal,Hombre,Código ISO del país de nacionalidad (320=Guate...
12,EDADMUJ,Edad de la Mujer,Numérica Continua,Mujer,Edad en años de la contrayente femenina
13,ESCMUJ,Escolaridad de la Mujer,Categórica Ordinal,Mujer,"Nivel educativo: 1=Ninguno, 2=Primaria, 3=Bási..."
14,NACMUJ,Nacionalidad de la Mujer,Categórica Nominal,Mujer,Código ISO del país de nacionalidad (320=Guate...

### 1.4 Clasificación de Variables por Tipo

In [17]:
# Clasificar variables por tipo
variables_numericas = ['AÑOREG', 'DIAOCU', 'EDADHOM', 'EDADMUJ', 'MUPREG', 'MUPOCU']
variables_categoricas_ordinales = ['MESREG', 'MESOCU', 'ESCHOM', 'ESCMUJ']
variables_categoricas_nominales = ['DEPREG', 'DEPOCU', 'CLAUNI', 'NACHOM', 'NACMUJ']

print("Clasificacion de variables por tipo")

print(f"\nVariables Numéricas ({len(variables_numericas)}):")
for var in variables_numericas:
    nombre = df_diccionario[df_diccionario['Variable']==var]['Nombre_Completo'].values[0]
    print(f"   • {var}: {nombre}")

print(f"\nVariables Categóricas Ordinales ({len(variables_categoricas_ordinales)}):")
for var in variables_categoricas_ordinales:
    nombre = df_diccionario[df_diccionario['Variable']==var]['Nombre_Completo'].values[0]
    print(f"   • {var}: {nombre}")

print(f"\nVariables Categóricas Nominales ({len(variables_categoricas_nominales)}):")
for var in variables_categoricas_nominales:
    nombre = df_diccionario[df_diccionario['Variable']==var]['Nombre_Completo'].values[0]
    print(f"   • {var}: {nombre}")

print(f"\nTotal de variables: {len(variables_numericas) + len(variables_categoricas_ordinales) + len(variables_categoricas_nominales)}")

Clasificacion de variables por tipo

Variables Numéricas (6):
   • AÑOREG: Año de Registro
   • DIAOCU: Día de Ocurrencia
   • EDADHOM: Edad del Hombre
   • EDADMUJ: Edad de la Mujer
   • MUPREG: Municipio de Registro
   • MUPOCU: Municipio de Ocurrencia

Variables Categóricas Ordinales (4):
   • MESREG: Mes de Registro
   • MESOCU: Mes de Ocurrencia
   • ESCHOM: Escolaridad del Hombre
   • ESCMUJ: Escolaridad de la Mujer

Variables Categóricas Nominales (5):
   • DEPREG: Departamento de Registro
   • DEPOCU: Departamento de Ocurrencia
   • CLAUNI: Clase de Unión
   • NACHOM: Nacionalidad del Hombre
   • NACMUJ: Nacionalidad de la Mujer

Total de variables: 15

### 1.5 Vista Previa de los Datos

In [18]:
display(df.head(10))

,AÑOREG,CLAUNI,DEPOCU,DEPREG,DIAOCU,EDADHOM,EDADMUJ,ESCHOM,ESCMUJ,MESOCU,MESREG,MUPOCU,MUPREG,NACHOM,NACMUJ
0,2011.0,3.0,1.0,1.0,20.0,27.0,32.0,9.0,5.0,9.0,12.0,101,101,124.0,320.0
1,2012.0,2.0,1.0,1.0,12.0,29.0,31.0,1.0,1.0,11.0,1.0,108,108,320.0,320.0
2,2011.0,3.0,8.0,8.0,12.0,21.0,17.0,9.0,1.0,12.0,12.0,801,801,320.0,320.0
3,2011.0,2.0,1.0,1.0,25.0,58.0,53.0,1.0,1.0,10.0,11.0,101,101,320.0,320.0
4,2011.0,3.0,1.0,1.0,2.0,31.0,24.0,5.0,4.0,10.0,11.0,103,103,320.0,320.0
5,2012.0,3.0,1.0,6.0,16.0,27.0,25.0,4.0,4.0,12.0,1.0,109,608,320.0,320.0
6,2011.0,9.0,5.0,5.0,9.0,27.0,24.0,5.0,4.0,7.0,7.0,507,507,320.0,320.0
7,2011.0,3.0,1.0,1.0,11.0,29.0,50.0,5.0,3.0,3.0,3.0,102,102,340.0,320.0
8,2011.0,3.0,1.0,1.0,16.0,38.0,30.0,5.0,5.0,4.0,7.0,102,102,40.0,320.0
9,2011.0,9.0,10.0,10.0,14.0,32.0,23.0,1.0,4.0,9.0,10.0,1001,1001,320.0,320.0

In [19]:
print(df.dtypes)

AÑOREG     float64
CLAUNI     float64
DEPOCU     float64
DEPREG     float64
DIAOCU     float64
EDADHOM    float64
EDADMUJ    float64
ESCHOM     float64
ESCMUJ     float64
MESOCU     float64
MESREG     float64
MUPOCU      object
MUPREG       int64
NACHOM     float64
NACMUJ     float64
dtype: object

### 1.7 Estadísticas Descriptivas Básicas

In [20]:
# Resumen estadístico de variables numéricas
display(df.describe().T)

,count,mean,std,min,25%,50%,75%,max
AÑOREG,752264.0,2015.404325,2.844226,2011.0,2013.0,2015.0,2018.0,2021.0
CLAUNI,752264.0,3.093482,1.261958,1.0,3.0,3.0,3.0,9.0
DEPOCU,752264.0,9.525712,6.388509,1.0,4.0,10.0,14.0,22.0
DEPREG,752264.0,9.515065,6.400446,1.0,4.0,10.0,14.0,22.0
DIAOCU,752264.0,16.034647,8.645327,1.0,9.0,16.0,23.0,31.0
EDADHOM,752264.0,29.744796,22.286581,12.0,22.0,26.0,32.0,999.0
EDADMUJ,752264.0,26.796582,22.764776,10.0,20.0,23.0,29.0,999.0
ESCHOM,752264.0,3.012190,1.740883,1.0,2.0,3.0,4.0,9.0
ESCMUJ,752264.0,3.021951,1.980851,1.0,2.0,2.0,4.0,9.0
MESOCU,752264.0,6.709461,3.593822,1.0,3.0,7.0,10.0,12.0
MESREG,752264.0,6.480502,3.596183,1.0,3.0,6.0,10.0,12.0
MUPREG,752264.0,958.986192,640.620477,101.0,401.0,1002.0,1415.0,2217.0
NACHOM,752264.0,322.136427,35.984356,8.0,320.0,320.0,320.0,9999.0
NACMUJ,752264.0,322.127738,37.657952,10.0,320.0,320.0,320.0,9999.0

In [21]:
# Frecuencias de variables categóricas clave
print("DISTRIBUCIÓN DE VARIABLES CATEGÓRICAS CLAVE")

# Clase de Unión
print("\nCLASE DE UNIÓN (CLAUNI)")
clauni_counts = df['CLAUNI'].value_counts().sort_index()
clauni_pct = (df['CLAUNI'].value_counts(normalize=True).sort_index() * 100).round(2)

# Mapeo correcto para CLAUNI
clauni_map = {1: 'Civil', 2: 'Religioso', 3: 'Mixto', 9: 'No especificado'}
clauni_df = pd.DataFrame({
    'Código': clauni_counts.index,
    'Tipo': [clauni_map.get(int(i), 'Desconocido') for i in clauni_counts.index],
    'Frecuencia': clauni_counts.values,
    'Porcentaje': clauni_pct.values
})
display(clauni_df)

# Escolaridad Hombre
print("\nESCOLARIDAD DEL HOMBRE (ESCHOM)")
eschom_counts = df['ESCHOM'].value_counts().sort_index()
eschom_pct = (df['ESCHOM'].value_counts(normalize=True).sort_index() * 100).round(2)

# Mapeo correcto para escolaridad
niveles_educativos_map = {
    1: 'Ninguno',
    2: 'Primaria',
    3: 'Básicos',
    4: 'Diversificado',
    5: 'Universidad',
    6: 'Posgrado',
    9: 'No especificado'
}

eschom_df = pd.DataFrame({
    'Código': eschom_counts.index,
    'Nivel': [niveles_educativos_map.get(int(i), 'Desconocido') for i in eschom_counts.index],
    'Frecuencia': eschom_counts.values,
    'Porcentaje': eschom_pct.values
})
display(eschom_df)

# Escolaridad Mujer
print("\n   ESCOLARIDAD DE LA MUJER (ESCMUJ)")
escmuj_counts = df['ESCMUJ'].value_counts().sort_index()
escmuj_pct = (df['ESCMUJ'].value_counts(normalize=True).sort_index() * 100).round(2)

escmuj_df = pd.DataFrame({
    'Código': escmuj_counts.index,
    'Nivel': [niveles_educativos_map.get(int(i), 'Desconocido') for i in escmuj_counts.index],
    'Frecuencia': escmuj_counts.values,
    'Porcentaje': escmuj_pct.values
})
display(escmuj_df)

DISTRIBUCIÓN DE VARIABLES CATEGÓRICAS CLAVE

CLASE DE UNIÓN (CLAUNI)

   Código             Tipo  Frecuencia  Porcentaje
0     1.0            Civil       42186        5.61
1     2.0        Religioso       15381        2.04
2     3.0            Mixto      666351       88.58
3     9.0  No especificado       28346        3.77

ESCOLARIDAD DEL HOMBRE (ESCHOM)

   Código            Nivel  Frecuencia  Porcentaje
0     1.0          Ninguno      103627       13.78
1     2.0         Primaria      256873       34.15
2     3.0          Básicos      127614       16.96
3     4.0    Diversificado      198531       26.39
4     5.0      Universidad       29578        3.93
5     6.0         Posgrado         212        0.03
6     9.0  No especificado       35829        4.76

   ESCOLARIDAD DE LA MUJER (ESCMUJ)

   Código            Nivel  Frecuencia  Porcentaje
0     1.0          Ninguno      152476       20.27
1     2.0         Primaria      225986       30.04
2     3.0          Básicos      104866       13.94
3     4.0    Diversificado      192845       25.64
4     5.0      Universidad       25380        3.37
5     6.0         Posgrado         140        0.02
6     9.0  No especificado       50571        6.72

In [27]:
# Filtrar solo columnas numéricas para evitar errores
df_numeric = df.select_dtypes(include=['number'])

if df_numeric.empty:
    print("No se encontraron columnas numéricas en el DataFrame")
else:
    distribucion = pd.DataFrame({
        "MIN": df_numeric.min(),
        "MAX": df_numeric.max(),
        "RANGO": df_numeric.max() - df_numeric.min(),
        "VARIANZA": df_numeric.var(),
        "DESV_STD": df_numeric.std()
    })
    print(distribucion)

            MIN     MAX   RANGO       VARIANZA    DESV_STD
AÑOREG   2011.0  2021.0    10.0       8.089620    2.844226
CLAUNI      1.0     9.0     8.0       1.592538    1.261958
DEPOCU      1.0    22.0    21.0      40.813044    6.388509
DEPREG      1.0    22.0    21.0      40.965712    6.400446
DIAOCU      1.0    31.0    30.0      74.741678    8.645327
EDADHOM    12.0   999.0   987.0     496.691706   22.286581
EDADMUJ    10.0   999.0   989.0     518.235035   22.764776
ESCHOM      1.0     9.0     8.0       3.030674    1.740883
ESCMUJ      1.0     9.0     8.0       3.923772    1.980851
MESOCU      1.0    12.0    11.0      12.915559    3.593822
MESREG      1.0    12.0    11.0      12.932533    3.596183
MUPREG    101.0  2217.0  2116.0  410394.595188  640.620477
NACHOM      8.0  9999.0  9991.0    1294.873909   35.984356
NACMUJ     10.0  9999.0  9989.0    1418.121359   37.657952

In [28]:
# Verificar que hay datos numéricos
df_numeric = df.select_dtypes(include=['number'])

if df_numeric.empty:
    print("No se encontraron columnas numéricas en el DataFrame")
    print("Columnas disponibles:", df.columns.tolist())
    print("Tipos de datos:", df.dtypes)
else:
    # Calcular los cuartiles
    orden = df_numeric.quantile([0.25, 0.5, 0.75]).T
    orden.columns = ["Q1_25%", "Q2_50%_MEDIANA", "Q3_75%"]
    
    print(orden)

         Q1_25%  Q2_50%_MEDIANA  Q3_75%
AÑOREG   2013.0          2015.0  2018.0
CLAUNI      3.0             3.0     3.0
DEPOCU      4.0            10.0    14.0
DEPREG      4.0            10.0    14.0
DIAOCU      9.0            16.0    23.0
EDADHOM    22.0            26.0    32.0
EDADMUJ    20.0            23.0    29.0
ESCHOM      2.0             3.0     4.0
ESCMUJ      2.0             2.0     4.0
MESOCU      3.0             7.0    10.0
MESREG      3.0             6.0    10.0
MUPREG    401.0          1002.0  1415.0
NACHOM    320.0           320.0   320.0
NACMUJ    320.0           320.0   320.0

In [31]:
# Función para crear tablas de frecuencia
def tabla_frecuencia(df, columna):
    freq_abs = df[columna].value_counts()
    freq_rel = df[columna].value_counts(normalize=True) * 100
    return pd.DataFrame({
        'FRECUENCIA_ABSOLUTA': freq_abs,
        'FRECUENCIA_RELATIVA_%': freq_rel
    })

# Variables categóricas a analizar
vars_categ = [
    'DEPREG',    # Departamento de Registro
    'MUPOCU',    # Municipio de Ocurrencia  
    'MUPREG',    # Municipio de Registro
    'NACHOM',    # Nacionalidad del Hombre
    'NACMUJ',    # Nacionalidad de la Mujer
    'MESOCU',    # Mes de Ocurrencia
    'MESREG',    # Mes de Registro
    'DEPOCU',    # Departamento de Ocurrencia
    'CLAUNI'     # Clase de Unión
]

# Tablas de frecuencia para variables categóricas
for var in vars_categ:
    if var in df.columns:
        print(f"\nTabla de frecuencia para: {var}")
        tabla = tabla_frecuencia(df, var)
        print(tabla)

Tabla de frecuencia para: DEPREG
        FRECUENCIA_ABSOLUTA  FRECUENCIA_RELATIVA_%
DEPREG
1.0                  156705              20.831118
13.0                  55915               7.432896
16.0                  52734               7.010039
12.0                  49699               6.606590
14.0                  48445               6.439893
9.0                   46622               6.197558
4.0                   38338               5.096349
5.0                   36675               4.875283
10.0                  33993               4.518759
8.0                   26393               3.508476
22.0                  24292               3.229185
17.0                  23385               3.108616
7.0                   20061               2.666750
3.0                   19447               2.585130
11.0                  19017               2.527969
6.0                   17760               2.360873
18.0                  17143               2.278854
20.0                  16418               2.182478
21.0                  14874               1.977231
15.0                  13953               1.854801
19.0                  11919               1.584417
2.0                    8476               1.126732

Tabla de frecuencia para: MUPOCU
        FRECUENCIA_ABSOLUTA  FRECUENCIA_RELATIVA_%
MUPOCU
101                   46556               6.188785
108                   14666               1.949582
115                   13405               1.781954
0101                  10548               1.402167
901                    9953               1.323073
...                     ...                    ...
13-1                      1               0.000133
09-1                      1               0.000133
0928                      1               0.000133
08-1                      1               0.000133
928                       1               0.000133

[826 rows x 2 columns]

Tabla de frecuencia para: MUPREG
        FRECUENCIA_ABSOLUTA  FRECUENCIA_RELATIVA_%
MUPREG
101                   81122              10.783714
115                   13467               1.790196
901                   11208               1.489902
1601                  10609               1.410276
1609                   9291               1.235072
...                     ...                    ...
708                     132               0.017547
514                     129               0.017148
711                     123               0.016351
1333                    112               0.014888
716                      80               0.010635

[340 rows x 2 columns]

Tabla de frecuencia para: NACHOM
        FRECUENCIA_ABSOLUTA  FRECUENCIA_RELATIVA_%
NACHOM
320.0                745466              99.096328
840.0                  1751               0.232764
222.0                   919               0.122165
723.0                   782               0.103953
484.0                   665               0.088400
...                     ...                    ...
470.0                     1               0.000133
348.0                     1               0.000133
508.0                     1               0.000133
586.0                     1               0.000133
352.0                     1               0.000133

[101 rows x 2 columns]

Tabla de frecuencia para: NACMUJ
        FRECUENCIA_ABSOLUTA  FRECUENCIA_RELATIVA_%
NACMUJ
320.0                744730              98.998490
840.0                  1824               0.242468
222.0                  1486               0.197537
723.0                   851               0.113125
340.0                   804               0.106877
...                     ...                    ...
860.0                     1               0.000133
116.0                     1               0.000133
212.0                     1               0.000133
807.0                     1               0.000133
682.0                     1               0.000133

[85 rows x 2 columns]

Tabla de frecuencia para: MESOCU
        FRECUENCIA_ABSOLUTA  FRECUENCIA_RELATIVA_%
MESOCU
12.0                  83174              11.056491
11.0                  76882              10.220082
3.0                   67492               8.971850
2.0                   65241               8.672620
10.0                  62951               8.368206
8.0                   60728               8.072698
4.0                   60529               8.046244
1.0                   58481               7.774000
7.0                   57479               7.640802
5.0                   56489               7.509199
6.0                   51851               6.892660
9.0                   50967               6.775148

Tabla de frecuencia para: MESREG
        FRECUENCIA_ABSOLUTA  FRECUENCIA_RELATIVA_%
MESREG
12.0                  77486              10.300373
1.0                   74145               9.856247
3.0                   66339               8.818580
11.0                  64995               8.639919
5.0                   64681               8.598178
2.0                   62745               8.340822
8.0                   59716               7.938171
10.0                  59203               7.869976
4.0                   58951               7.836478
6.0                   54753               7.278429
9.0                   54692               7.270320
7.0                   54558               7.252507

Tabla de frecuencia para: DEPOCU
        FRECUENCIA_ABSOLUTA  FRECUENCIA_RELATIVA_%
DEPOCU
1.0                  153795              20.444286
13.0                  55919               7.433428
16.0                  52780               7.016154
12.0                  49492               6.579073
14.0                  48364               6.429126
9.0                   46395               6.167383
4.0                   38285               5.089304
5.0                   37013               4.920214
10.0                  33972               4.515968
8.0                   26688               3.547691
22.0                  24225               3.220279
17.0                  23435               3.115263
3.0                   21499               2.857906
7.0                   20511               2.726569
11.0                  19205               2.552960
6.0                   17746               2.359012
18.0                  17209               2.287628
20.0                  16527               2.196968
21.0                  14774               1.963938
15.0                  13945               1.853738
19.0                  11929               1.585746
2.0                    8556               1.137367

Tabla de frecuencia para: CLAUNI
        FRECUENCIA_ABSOLUTA  FRECUENCIA_RELATIVA_%
CLAUNI
3.0                  666351              88.579408
1.0                   42186               5.607872
9.0                   28346               3.768092
2.0                   15381               2.044628